h1,h2,h3,h4,h5,h6,.display-1,.display-2,.display-3,.display-4 {
  margin-bottom: .75rem;
  margin-top: .75rem;
}

.social a {
  border-radius: 100%;
  width: 2em;
  height: 2em;
  background-color: #343a40;
  color: #fff;
  display: block;
  padding: 0;
  font-size: 1.25em;
  line-height: 1.9em;
  transition: all .5s;
}

.social a:hover {
  background-color: #fff;
  color: #343a40;
  text-decoration: none;
} 

.social i {
  padding: 0;
}

.social {
  display: inline-block;
  text-align: center;
  padding: 0 2px 0 2px;
}

footer {
  margin: 1em;
}